.header{
    height: 75px;
    width: 100%;
    Top: 0;
    Left: 0;
    background: #3c80ff;
    border-bottom: 3px solid #3771e2;
    position: fixed;
    z-index: 1;
}
.header .header-content {
    width: 900px;
    margin: 0 auto;
}
.header .header-content #logo{
    line-height: 75px;
}
.header .header-content #logo a.logo-btn{
    text-decoration: none;
    font-size: xx-large;
    color: #fff;
}

.header .header-content #auth-btn{
    line-height: 75px;
}
.header .header-content #auth-btn a.btn{
    padding: 15px 20px;
    background: #dfd7e2;
    border: 1px solid #454147;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    color: #454147;
}

.header .header-content #post-btn{
    line-height: 75px;
}

.header .header-content #post-btn a.btn{
    padding: 15px 10px;
    background: #dfd7e2;
    border: 1px solid #454147;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    color: #454147;
}

.page-body{
    width: 800px;
    margin: 115px auto;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e2d5e8
}

.page-body .filters{
    width: 100%;
    height: 22px;
    position: fixed;
    top: 80px;
    z-index: 1;
    margin-right: 0;
}

.page-body .filters .search{
    width: 150px;
    height: 30px;
}

.page-body .filters .search-btn{
    padding: 8px 20px;
    background: #dfd7e2;
    border: 1px solid #454147;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    color: #454147;
}

.page-body .filters .search-btn{
    line-height: 17px;
}

.page-body .feed {}

.page-body .feed .post-row{
    padding: 10px;
    border-top: 1px solid #e2d5e8;
    border-bottom: 1px solid #e2d5e8;
    position: relative;
}
.page-body .feed .post-row h1.post-title{
    font-size: 18px;
}

.page-body .feed .post-row p.post-date{
    color: #c3b7c9;
    font-size: 14px;
    margin-top: 5px;
}
.page-body .feed .post-row div.post-content{
    padding: 10px 0;
}
.page-body .feed .post-row div.post-content img.post-img{
    width: 200px;
    margin-right: 10px;
}
.page-body .feed .post-row div.post-content p.post-text {}
.page-body .feed .post-row div.hashtags{}
.page-body .feed .post-row div.hashtags a.hashtag{
    padding: 2px 5px;
    text-decoration: none;
    color: #ffffff;
    background: #3c80ff;
    border: 1px solid #3771e2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.page-body .feed .post-row .like-btn{
    height: 40px;
    width: 40px;
    background: url("dog-icon.png");
    position: absolute;
    bottom: 0;
    left: -40px;
    border: 1px solid #e2d5e8;
    border-right: 0;
}

.page-body .feed .post-row .like-btn:hover{
    cursor: pointer;
}

.page-body .feed .add-btn{
    height: 40px;
    width: 40px;
    background: url("dog-icon.png");
    position: absolute;
    border: 1px solid #e2d5e8;
    left: 48%;
    margin: 10px;
}

.page-body .feed .add-btn:hover{
    cursor: pointer;
}

.footer {
    padding: 25px;
    background: #d4d4d4;
    text-align: center;
    color: #6d696f;
}
.fl_l{
    float: left;
}
.fl_r{
    float: right;
}
.clr{
    clear: both;
}
.hide{
    display: none;
}
.bar8 {
	background: #B46381;
	}
.bar8 form {
height: 42px;
}
.bar8 input {
    width: 0;
    padding: 0 42px 0 15px;
    border-bottom: 2px solid transparent;
    background: transparent;
    transition: .3s linear;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
        }
.bar8 input:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
}
.bar8 button {
    background: #683B4D;
    top: 0;
    right: 0;
}
.bar8 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
*{
    margin: 0;
    padding: 0;
    font-family: Calibri;
}
body {
    background: #e4e4e4;
	padding: 0;
	margin: auto;
}